<div class="modal fade" id="mEdit<%= id %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title text-white">Edit Menu <% if(kd === 1){%>Penerimaan<%}else if(kd === 2){%>Pengeluaran<% } %>  </h5>
        </div>
        <!-- lempar action ke -->
        <form method="post" action="<%= edit %>">            
            <div class="modal-body text-start">
                <label for="editNama" class="form-label">Nama</label>
                <div class="input-group input-group-sm">
                    <input type="text"  class="form-control" name="editNama" id="editNama" value="<%= nama %> ">
                </div>
                <label for="editNama" class="form-label mt-3">Deskripsi</label>
                <div class="input-group input-group-sm">
                    <input type="text"  class="form-control" name="editDess" id="editDess" value="<%= dess %> ">
                </div>
                <div class="form-check form-switch mt-3">
                  <!--menu+sub = id(dbSiswaEditIn+sub) value(1)=pakai database -->
                  <!-- apakah ini di cek di js ? -->  
                    <input type="hidden" id="dbSiswaEdit<%= menu+sub %>" name="dbSiswaEdit<%= menu+sub %>" value="<%= dbsiswa %>">                              
                    <input class="form-check-input" type="checkbox" role="switch" name="SwitchCheck<%= menu+sub %>" id="SwitchCheck<%= menu+sub %>" <% if(dbsiswa == 1){%>checked<%}%>>
                    <label class="form-check-label" for="SwitchCheck<%= sub %>">Gunakan database siswa</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-success btn-sm">Simpan Perubahan</button>                
            </div>
        </form>
      </div>
    </div>
</div>